{% extends 'base.html' %} {% block content %}

<header
  class="masthead"
  style="background-image: url('assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1> <a href="{% url 'login' %}">Login </a> or <a href="{% url 'signup'%}">Signup</a></h1>
          <span class="subheading">Let's connect me.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}</div>
      {% endfor %}
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h2 style="text-align: center;">Login</h2><br>
        <!-- Add the Login form Here -->
        <form method="post" action="/form" autocomplete="off">
          <div class="form-group">
            <label for="formGroupExampleInput">Username</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Set the Username"
              required
            />
          </div><br>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" required placeholder="Password">
            </div><br>
            
            <button type="submit" class="btn btn-primary">Login</button>
          </form>

      </div>
    </div>
  </div>
</main>

{% endblock %}
