{% extends 'base.html' %} {% block metadescription %}
<meta name="description" content="{{post.title}} {{post.subtitle |truncatechars:20}} ">
{% endblock %} {% block title %} Blog | {{post.title}} {% endblock %}
{%block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: none">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{post.title}}</h1>
                    <h2 class="subheading">{{post.subtitle}}</h2>
                    <span class="meta">
                        Posted by
                        <a href="{% url 'about'%}">Rishikesh Shinde</a>
                        on {{post.created_on}}
                    </span><br>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4" id="post">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if post.img_field != None %}
                <img src="{{post.img_field.url}}" class="img-fluid" alt="Responsive image" />
                {% endif %}
                <p width="">{{post.content|safe}}</p>

                {% if post.url_field != None %}
                <style>
                    @media only screen and (max-width: 400px) {
                        iframe {
                            width: 100%;
                            margin-bottom: 100%;
                        }
                    }
                </style>

                <iframe width="100%" height="375" src="{{post.url_field}} "> </iframe>
                {% endif %}
            </div>

            <hr>
        </div>
    </div>
</article>
{% if user.is_authenticated %}
<!-- Add Comments -->
<section class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center" id="form">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Button trigger modal -->
            <p style="text-align: center;"><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Leave A Comment
                </button></p>


            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Comment</h5>
                            <button type="button" title="Comment" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <!-- Add the Login form Here -->
                            <form method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="formGroupExampleInput" hidden>Name</label>
                                    <input name="name" type="text" class="form-control" hidden
                                        id="formGroupExampleInput" value="{{user.first_name}} {{user.last_name}}"
                                        required />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" hidden>Email address</label>
                                    <input name="email" type="email" hidden class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" value="{{user.email}}" required />
                                    <small id="emailHelp" hidden class="form-text text-muted">We'll never share your
                                        email with anyone else.</small>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Leave A Comment</label>
                                    <textarea placeholder="Write your comment." required name="comment"
                                        class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-primary"
                                    style="text-align: center;">Comment</button><br />

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Comment Section -->
{% if user.is_authenticated %}
<section class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <br />
            <hr />
            <br />
            <h2 style="text-align: center">Comments</h2>
            <br />
            <hr />
            {% if not post.comments.all %}
            <p style="text-align: center;"><button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Add One
                </button></p>
            {% endif %} {% for comments in post.comments.all %}
            <ul>
                <li>
                    <p class="post-meta">
                        Posted by <strong>{{comments.name}}</strong>

                        on {{comments.created_on}}
                    </p>
                    <div class="container">
                        <p>{{comments.body}}</p>
                    </div>
                </li>
            </ul>
            <hr />
            {% endfor %}
        </div>
    </div>
</section>
{% endif %} {% endblock %}