{% extends 'base.html' %} {% block content %}

<header
  class="masthead"
  style="background-image: url('assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>
            <a href="{% url 'login'%}">Login </a> or
            <a href="{% url 'signup'%}">Signup</a>
          </h1>
          <span class="subheading">Let's connect me.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Add the Login form Here -->
        <form method="post" action="/form" autocomplete="off">
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Enter Your Name"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <br />
          <div class="form-group">
            <label for="formGroupExampleInput">Username</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Set the Username"
            />
          </div><br>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
          <br />
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1" required 
              >Agree Terms and Conditions</label
            >
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
